[Unit]
Description=Promtail Log Shipper
After=loki.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/promtail -config.file=/etc/homeguard/promtail.yaml
Restart=on-failure
RestartSec=10
MemoryMax=100M
OOMScoreAdjust=300
StandardOutput=journal
StandardError=journal
SyslogIdentifier=promtail

[Install]
WantedBy=multi-user.target
